

<div class="main">

   
  <!-- Sing in  Form -->
  <section class="sign-in">
      <div class="containerLogin">
          <div class="signin-content">
              <div class="signin-image">

                  <figure><img src="assets/login/images/login.jpg" alt="sing up image"></figure>
                  <a routerLink="/inscription" class="signup-image-link">Créer un compte</a>
              </div>

              <div class="signin-form">
                  <h2 class="form-title">Connectez-vous</h2>
                  <form method="POST" action="test" class="register-form" id="login-form"  >
                      <div class="form-group">
                          <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" name="email" id="email" placeholder="E-mail ou téléphone"  required [(ngModel)]="username"/>
                      </div>
                      <div class="form-group">
                          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" name="your_pass" id="your_pass" placeholder="Mot de passe" required [(ngModel)]="password"/>
                      </div>

                      <div class="form-group" *ngIf="invalidLogin">
                        <p><font color="red">E-mail ou mot de passe est incorrect</font></p>
                    </div>
                     
                      <div class="form-group form-button">
                          <input type="submit" name="signin" id="signin" class="form-submit" (click)=checkLogin() value="Se connecter"/>
                      </div>
                  </form>
                  <div class="social-login">
                      <span class="social-label">Or login with</span>
                      <ul class="socials">
                          <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                          <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                          <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>