
   <section class="u-clearfix u-grey-5 u-section-1" id="carousel_c61a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
      <img class="u-image u-image-default u-image-1" data-image-width="626" data-image-height="417" src="images/pasta-fettuccine-bolognese-with-tomato-sauce-white-bowl_2829-20035.jpg">
      <div class="u-align-left u-container-style u-group u-white u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h5 class="u-text u-text-1"> About Conpany</h5>
          <h1 class="u-custom-font u-text u-text-2">Wood Framing Design &amp; Manufacturing</h1>
          <p class="u-text u-text-body-alt-color u-text-3">Image by <a href="https://www.freepik.com/photos/people" class="u-border-1 u-border-white u-btn u-button-link u-button-style u-none u-text-body-alt-color u-btn-1" target="_blank">Freepik</a>
          </p>
        </div>
      </div>
      <div class="u-list u-list-1"></div>
      <div class="u-list u-list-2">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img class="u-image u-image-round u-radius-10 u-image-2" src="images/pasta-fettuccine-bolognese-with-tomato-sauce-white-bowl_2829-20035.jpg" alt="" data-image-width="626" data-image-height="417">
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img class="u-image u-image-round u-radius-10 u-image-3" src="images/pasta-fettuccine-bolognese-with-tomato-sauce-white-bowl_2829-20035.jpg" alt="" data-image-width="626" data-image-height="417">
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img class="u-image u-image-round u-radius-10 u-image-4" src="images/pasta-fettuccine-bolognese-with-tomato-sauce-white-bowl_2829-20035.jpg" alt="" data-image-width="626" data-image-height="417">
            </div>
          </div>
        </div>
      </div>
      <div class="u-list u-list-3">
        <div class="u-repeater u-repeater-2">
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-5"></div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-6"></div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-7"></div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item u-white">
            <div class="u-container-layout u-similar-container u-container-layout-8"></div>
          </div>
        </div>
      </div>
    </div>
  </section>