


<!-- Modal HTML -->
<div id="Modal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<div class="avatar">
					<img src="assets/InscrSucces/images/good.png" alt="Avatar">
				</div>				
				<h5 class="modal-title">Votre inscription a été bien effectué !
                </h5>	
               <a routerLink="/login"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </a>
			</div>
		
			
		</div>
	</div>
</div>     
