


<!-- Modal HTML -->
<div id="ModalC" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<div class="avatar">
					<img src="assets/InscrSucces/images/good.png" alt="Avatar">
				</div>				
				<h5 class="modal-title">Vous etes connecté !
                </h5>	
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               
			</div>
		
			
		</div>
	</div>
</div>     
