<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Villes</h4>
                      <p class="card-category"> Liste des villes : </p>
                  </div>
                  <div class="card-body">
                    <div class="example-container mat-elevation-z8">
     
                      
                        <div class="example-table-container">
                      
                          <table mat-table [dataSource]="data" class="example-table"
                                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                            <!-- Number Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef>#</th>
                              <td mat-cell *matCellDef="let row">{{row.id}}</td>
                            </ng-container>
                      
                            <!-- Title Column -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef>Name</th>
                              <td mat-cell *matCellDef="let row">{{row.name}}</td>
                            </ng-container>
                      
                                            
                            <!-- Title Column -->
                            <ng-container matColumnDef="pays">
                                <th mat-header-cell *matHeaderCellDef>Pays</th>
                                <td mat-cell *matCellDef="let row">{{row.country.name}}</td>
                              </ng-container>

                               <!-- Title Column -->
                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                        <mat-icon>mode_edit</mat-icon>
                                      </button>
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="trash">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                </td>
                              </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                        </div>
                      
                        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
