<div class="titre" style="margin-top: 20px">
  <h4 class="categorie"><strong></strong></h4>
</div>

<div class="container" style="height: 700px">
  <div
    class="card"
    style="
      width: 250px !important;
      display: inline-block !important;
      margin-left: 20px !important;
      height: 300px !important;
      float: left !important;
    "
    *ngFor="let prod of products"
  >
    <div class="card-body">
      <img
        class="card-img-top"
        height="108"
        width="108"
        src="{{ prod.imageUrl }}"
        style="height: 120px !important; width: 100% !important"
      />
      <h5 class="card-title" style="margin-top: 5px; text-align: center">
        {{ prod.name }}
      </h5>
      <p class="card-text">
        {{ prod.description }}
      </p>
      <p class="card-text">
        <b>{{ prod.price }} DH</b>
      </p>
      <a href="#" class="btn btn-warning" style="float: right">J'ACHETE</a>
    </div>
  </div>
</div>
