<div class="titre" style="margin-top: 20px">
  <h4 class="categorie"><strong></strong></h4>
</div>

<div class="container" style="height: 700px">
  <div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-warning" style="float: right">J'ACHETE</a>
    </div>
  </div>
</div>
